*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

.container{
    max-width:430px;
    margin:auto;
    padding:20px;
}

.header{
    text-align:center;
    margin-bottom:20px;
}

.header h2{
    font-size:28px;
}

.header p{
    color:#94a3b8;
    margin-top:8px;
}

.card{
    background:#1e293b;
    border-radius:18px;
    padding:18px;
    margin-bottom:15px;
}

.card h3{
    font-size:18px;
    margin-bottom:10px;
}

.card span{
    font-size:28px;
    font-weight:bold;
}

.menu{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

.menu button{
    border:none;
    border-radius:15px;
    padding:18px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:bold;
}

.menu button:active{
    transform:scale(.97);
}